body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  pre {
    font-size: 7em;
  }
  
  .marks .land {
    fill: #0fc545;
  }
  
  .marks .interiors {
    fill: none;
    stroke: #3b4840;
  }
  
  .marks .sphere {
    fill: #0f2e97;
  }
  
  .marks .graticules {
    fill: none;
    stroke: #dadada;
  }
  
  .land:hover {
    fill: red;
  }