body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

pre {
  font-size: 7em;
}

.marks .feature {
  fill: #239d05;
  stroke : #C0C0BB;
}

.marks .sphere {
  fill: #0f2e97;
}