/* Global styles */
body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Google Sans", serif;
  font-size: 16px;
}

/* Container styles */
.container {
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  background-image: linear-gradient(241.5deg, #d1d0f7 15.83%, #0093e9 89.93%);
  background-size: cover;
  width: 100%;
  height: 1250px;
}

.container .field-header h2 {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #19376d;
  text-decoration: 2px solid #000000;
  background: rgba(29, 38, 125, 0.2);
  text-align: center;
}

.container .field-header span {
  font-family: "Google Sans";
  font-style: normal;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  color: #19376d;
  text-decoration: 2px solid #000000;
  text-align: center;
}

.container .field-header h1 {
  font-family: "Google Sans";
  font-weight: 700;
  font-size: 45px;
  color: #19376d;
  text-decoration: 2px solid #000000;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.sidebar .tab-header {
  width: 10%;
  margin: 20px 0px;
}

/* Tab button styles */
.tab-header .tab-button {
  display: block;
  cursor: pointer;
  position: relative;
  border: none;
  width: 100%;
  left: -50%;
  text-align: right;
  font-weight: 700;
  font-size: 15px;
  color: #d4adfc;
  border-radius: 20px;
  background-color: #0d134f;
  margin-bottom: 20px;
  padding: 0 20px;
  transition: width 0.3s ease-in-out;
}

.button-1:active {
  width: 100%;
}

.tab-header .tab-button:hover {
  transform: translateX(60px);
}

.tab-button .button-text-1::before {
  content: "EDUCATION";
}

.tab-button .button-text-2::before {
  content: "Family";
}

.tab-button .button-text-3::before {
  content: "LOVE";
}

.tab-button .button-text-4::before {
  content: "SELF";
}

.tab-button .button-text-5::before {
  content: "WORK";
}

.sidebar .main-content {
  width: 90%;
  margin: 20px 20px 2% 2%;
  height: 100%;
}

.main-content .tab-panel {
  height: 100%;
}

.tab-panel .tab-content {
  display: none;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 53px;
  border: 2px solid #5fa1d1;
}

.tab-panel .tab-content iframe {
  width: 100%;
  height: 550px;
  border: none;
}

#funnel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stage-label {
  font-size: 12px;
  text-anchor: middle;
  fill: white;
}

.edu-main {
  display: flex;
  flex-direction: column;
}

.edu-title {
  text-align: center;
  color: #124d85;
}

.edu-title h2 {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #124d85;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0px;
}

.edu-title h2:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
  color: #e83d35;
}

.edu-title p {
  font-family: "Google Sans";
  font-size: 28px;
  color: #124d85;
  text-align: center;
  margin: 0;
}

.edu-title p:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  color: #e83d35;
}

.edu-main .edu-content {
  display: flex;
  flex-direction: row;
}

.edu-main .edu-content .col {
  width: 50%;
  margin: 10px;
}

.edu-main .edu-content .col script {
  width: 100%;
}

.edu-content .edu-col .chart-title {
  color: #2a5c92;
  background-color: #f1f1f1;
}

.tooltip {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 18px;
  pointer-events: none;
}

.col-funnel #tooltip {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  pointer-events: none;
  font-size: 12px;
}

.btn_nav {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #d4adfc;
  border-radius: 10px;
  background-color: #0d134f;
  margin-bottom: 20px;
  padding: 5px 10px;
}