body {
    background: #fcfcfa;
    height: 500px;
    position: relative;
    width: 960px;
}

#projection-menu {
    position: absolute;
    right: 10px;
    top: 10px;
}

/*#maps-menu {*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    top: 40px;*/
/*}*/

#years-menu {
    position: absolute;
    right: 10px;
    top: 40px;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.fill {
    fill: #0057b9;
}

.graticule {
    fill: none;
    stroke: rgba(201, 190, 190, 0.89);
    stroke-width: 1px;
    stroke-opacity: .5;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.tooltip {
    position: absolute;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 1.4;
}