body {
    background: #fcfcfa;
    height: 500px;
    position: relative;
    width: 960px;
}

#projection-menu {
    position: absolute;
    right: 10px;
    top: 10px;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.fill {
    fill: #4242e4;
}

.graticule {
    fill: none;
    stroke: rgba(201, 190, 190, 0.89);
    stroke-width: 1px;
    stroke-opacity: .5;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}